.footer{
    width: 100%;
    text-align: center !important;
    font-family: "Google Sans";
    padding: 3rem;
    background-color: #d4d4d4;
    /* border-top: 1px solid #15171c; */
    filter: drop-shadow(0px -2px 10px rgb(214, 214, 214));
    margin: 0 auto !important;
    overflow-x: hidden;
}

.footer-text{
    margin: auto !important;
}

@Media only screen and (max-width:768px){
    .footer{
        padding: 2rem 2rem 2rem 4rem;
        text-align: center !important;
    }
}